<a href="https://colab.research.google.com/github/alehpineda/leetcode/blob/master/00008_String_to_Integer_Atoi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import re
# 1st iteration
  def myAtoi(s: str) -> int:
      s = s.strip()
      if s == '' or s[0].isalpha():
          return 0
      s = s.split()
      num = 0
      print('string:', s)
      for e in s:
          # j is a list
          j = re.findall(r'^[+-]?[0-9]*', e)
          try:
              if int(j[0]):
                  num = int(j[0])
              break
          except ValueError:
              pass

      #print('after re:', num, type(num))
      
      if num.bit_length() < 32:
          return num
      else:
          if num < 0: 
              return -2147483648
          else:
              return 2147483647

print(myAtoi('42'))
print(myAtoi('-42'))
print(myAtoi("4193 with words"))
print(myAtoi("words and 987"))
print(myAtoi("-91283472332"))
print(myAtoi("+3.141591"))
print(myAtoi("-3.141591"))
print(myAtoi(".1"))
print(myAtoi("  -0012a42"))
print(myAtoi("   +0 123"))
print(myAtoi("+-2"))

string: ['42']
42
string: ['-42']
-42
string: ['4193', 'with', 'words']
4193
0
string: ['-91283472332']
-2147483648
string: ['+3.141591']
3
string: ['-3.141591']
-3
string: ['.1']
0
string: ['-0012a42']
-12
string: ['+0', '123']
0
string: ['+-2']
0

In [6]:
l = ['asdf', '1234', 'asfd']
for e in l:
  try:
    if int(e):
      print(e)
  except ValueError:
    pass

1234

In [87]:
import re
print(re.findall(r'^[+-]?[0-9]*', '+3.15'))

['+3']

In [84]:
float('+1')

1.0

In [100]:
import re
from math import pow

INT_MAX = int(pow(2,31)) - 1
INT_MIN = -int(pow(2,31))

    def myAtoi(s: str) -> int:
        match = re.findall(r'^\s*([+\-]?\d+)', s)

        if not match:
            return 0
        
        num = int(match[0])
        
        if num < INT_MIN:
            return INT_MIN
        
        if num > INT_MAX:
            return INT_MAX
        
        return num

print(myAtoi('42'))
print(myAtoi('-42'))
print(myAtoi("4193 with words"))
print(myAtoi("words and 987"))
print(myAtoi("-91283472332"))
print(myAtoi("+3.141591"))
print(myAtoi("-3.141591"))
print(myAtoi(".1"))
print(myAtoi("  -0012a42"))
print(myAtoi("   +0 123"))
print(myAtoi("+-2"))

42
-42
4193
0
-2147483648
3
-3
0
-12
0
0

In [99]:
bool([])

False

In [0]:
    def myAtoi(self, str: str) -> int:
        m = re.search(r"^(([+-]\d+)|\d+)", str.strip())
        if m:
            ans = int(m.group(1))
        else:
            ans = 0
        if ans < -2**31:
            return -2**31
        elif ans > 2**31 - 1:
            return 2**31 - 1
        else:
            return ans