<a href="https://colab.research.google.com/github/alehpineda/leetcode/blob/master/00013_Roman_to_Integer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

|Symbol |Value   	|
|---	|---	|
|I   	|1   	|
|V   	|5   	|
|X   	|10   	|
|L   	|50   	|
|C   	|100   	|
|D   	|500   	|
|M   	|1000   	|

For example, two is written as II in Roman numeral, just two one's added together. Twelve is written as, XII, which is simply X + II. The number twenty seven is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

- I can be placed before V (5) and X (10) to make 4 and 9. 
- X can be placed before L (50) and C (100) to make 40 and 90. 
- C can be placed before D (500) and M (1000) to make 400 and 900.

Given a roman numeral, convert it to an integer. Input is guaranteed to be within the range from 1 to 3999.

- Example 1:

  - Input: "III"
  - Output: 3

- Example 2:

  - Input: "IV"
  - Output: 4

- Example 3:

  - Input: "IX"
  - Output: 9

- Example 4:

  - Input: "LVIII"
  - Output: 58

Explanation: L = 50, V= 5, III = 3.

- Example 5:

  - Input: "MCMXCIV"
  - Output: 1994

Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.

In [5]:
# 1st iteration
# Roman to integer
class Solution:
  def romanToInt(self, s: str) -> int:
    # roman dictionary
    roman = {
        'I':1,
        'V':5,
        'X':10,
        'L':50,
        'C':100,
        'D':500,
        'M':1000
    }
    # roman rest dictionary
    rest = {
        'IV':4,
        'IX':9,
        'XL':40,
        'XC':90,
        'CD':400,
        'CM':900
    }
    # empty list
    integer = []

    # for key in rest dict
    for k in rest:
      # if key exist in string
      if k in s:
        # append to list the value
        integer.append(rest[k])
        # Replace the key in string with ''
        s = s.replace(k,'')

    # For each in string
    for e in s:
      # append to list the value
      integer.append(roman[e])
    # return the sum of the list
    return sum(integer)

sol = Solution()
print(sol.romanToInt('III'))
print(sol.romanToInt('IV'))
print(sol.romanToInt('IX'))
print(sol.romanToInt('LVIII'))
print(sol.romanToInt('MCMXCIV'))

3
4
9
58
1994